APP_NAME=Friends
APP_ENV=local
APP_KEY=base64:x6mrd6jzkA+H0F4lJH7h+8MvFjmqy+6Sr8HDoAmcG94=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=hygge
DB_USERNAME=dezigned11
DB_PASSWORD=qwe78901

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

L5_SWAGGER_CONST_HOST=http://friend.loc/api/v1

#Docker config
#env for unix system
CURRENT_UID=1000
PHP_TAG=7.4-fpm-stretch
# Nginx config
NGINX_HOST=localhost
HTTP_PORT=8000

# Passport
CLIENT_ID=1
CLIENT_SECRET=5dL4YY6L8KYkPSSwvf7OI4viIJcLNoqigcpqteVw
